header {
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: palevioletred;
}
h2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
}
ul {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
h1 {
    font-size: 75px;
}
html {
    background-color: lightblue;
    text-align: center;
}
#headerImage {
    margin: 40px 0px 0px 0px;
    border: 7px solid rgb(246, 138, 188);
    border-radius: 20px;
}
p {
    font-size: larger;
}
a {
    font-size: x-large;
    color: palevioletred;
}